<p>1-800-311-5393 | Chat | Contact us | Education | The Diamond Credit Card</p>
<h5>Sign In/Create an Account | Favorites | Order Status | Find A Location</h5>

<body>
  <h1 class="elegantshadow">ZALES</h1>
  <h2 class="text-center">THE DIAMOND STORE</h2>

  <div class="search">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="What can we help you find?" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div><br><br>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="header">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="items">See All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.zales.com/wedding">ENGAGEMENTS & WEDDINGS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://www.zales.com/rings">RINGS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://www.zales.com/neckleces">NECKLECES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://www.zales.com/earrings">EARRINGS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://www.zales.com/bracelets">BRACELETS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://www.zales.com/watches">WATCHES</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</body>