

body {
    padding-top: 60px;
}

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    padding: 70px 30px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

    
h3 {
    text-align: center;
   font-size: 35px; 
}
p {
    color: blue;
    font-size: 14px;
}
h5 {
    float: right;
    color: blue;
    font-size: 14px;
}

h2 {
    font-size: 15px;
    text-align: center;
}
.search {
    float: right;
}
.navbar navbar-expand-lg navbar-light bg-lightr {
    text-align: center;
}

.leftTop {
    float: left;
    margin-left: 0%;
}