<!-- <p>1-800-311-5393 | Chat | Contact us | Education | The Diamond Credit Card</p>
<h5>Sign In/Create an Account | Favorites | Order Status | Find A Location</h5> -->


<div class="container header-top">
  <div class="row">
    <div class="col-md-6">
      <div class="leftTop">
        <p><a href="tel:1-800-311-5393" title="1-800-311-5393">1-800-311-5393</a> | Chat | <a href="https://www.zales.com/contact-us">Contact
            Us</a> | <a href="https://www.zales.com/education">Education</a> | <a href="https://creditservices.zales.com/">The
            Diamond Credit Card</a></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="rightTop">
        <p><a href="https://www.zales.com/login">Sign In</a>/<a href="https://www.zales.com/register">Create an Account</a>
          | <a href="https://www.zales.com/favorites">Favites</a> | <a href="https://www.zales.com/guest/guest-order-status">Order
            Status</a> | <a href="https://www.zales.com/store-finder">Find A Location</a>
          <img src="./assets/images/cart.png" alt="logo" width="6%">
        </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    <img src="./assets/images/freeShipping.png" alt="logo">
  </div>
  <div class="col-md-4">
    <h1> <img src="./assets/images/storeLogo.png" alt="logo"></h1>
  </div>
  <div class="col-md-3">
    <div class="search">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="What can we help you find?" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="header">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="items">ALL ITEMS</a>
        </li>
        <div *ngFor="let category of categories | async">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/items', {category:category.name}]">{{category.name.toUpperCase()}}</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>