<footer role="contentinfo">
  <div class="row">
    <div class="col-md-2">
      <div class="join-list-text-center pull left">
        <div class="container">
          <div class="join-header-text">Join our email list & Receive a Special Offer</div>
          <form id="signup-form" class="js-parsley" novalidate>
            <div class="form-group">
              <div class="input-container">
                <label class="hidden" for="user-email">User email</label>
                <input type="email" id="user-email" area-label="User Email" name="user-email" class="form-control"
                  palyeholder="Enter your email">
              </div>
              <button>Sign Up<span class="icon-caret-right-sm"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h2>Costomer Service</h2>
      <ul>
        <a href="https://www.zales.com/contact-us">Contuct Us</a>
        <a href="https://www.zales.com/return-and-exchange-policy">Return and Exchange Policy</a>
        <a href="https://www.zales.com/shipping-information">Shipping information</a>
        <a href="https://www.zales.com/order-status">Order Status</a>
        <a href="https://www.zales.com/in-store-services">In-Store Services</a>
        <a href="https://www.zales.com/gift-cards">Gift Cards</a>
        <a href="https://www.zales.com/progressive-leasing">Progressive Leasing</a>
        <a href="https://www.zales.com/service-plans">Service Plans</a>
      </ul>
    </div>
    <div class="col-md-2">
      <h2>About Us</h2>
      <ul>
        <a href="https://www.zales.com/the-zales-difference">The Zales Difference</a>
        <a href="https://www.zales.com/zales-history">Zales History</a>
        <a href="https://www.zales.com/about-zales">About Zales</a>
        <a href="https://www.zales.com/careers">Careers</a>
        <a href="https://www.zales.com/conflict-free-sourcing">Conflict-Free Sourcing</a>
        <a href="https://www.zales.com/corporate-responsibility">Corporate Responsibility</a>
        <a href="https://www.zales.com/our-brands">Our Brands</a>
        <a href="https://www.zales.com/investors">Investors</a>
        <a href="https://www.zales.com/zales-gold-exchange">Zales Gold Exchange</a>
      </ul>
    </div>
    <div class="col-md-2">
      <h2>Education</h2>
      <ul>
        <a href="https://www.zales.com/diamond-jewelry">Diamond Jewelry</a>
        <a href="https://www.zales.com/engagement-buying-guide">Engagement Buying Guide</a>
        <a href="https://www.zales.com/gemstone-jewelry">Gemstone Jewelry Guide</a>
        <a href="https://www.zales.com/pearl-jewelry">Pearl Jewelry Guide</a>
        <a href="https://www.zales.com/bithstone-guide">Birhtstone Guide</a>
        <a href="https://www.zales.com/watch-buying-guide">Watch Buying Guide</a>
        <a href="https://www.zales.com/jewelry-metals">Jewelry Metals</a>
        <a href="https://www.zales.com/jewelry-care">Jewelry Care</a>
        <a href="https://www.zales.com/gift-giving-guide">Gift Giving Guide</a>
        <a href="https://www.zales.com/jewelry-glossary">Jewelry Glossary</a>
      </ul>
    </div>
    <div class="col-md-2">
      <h2> The Diamond Credit Card</h2>
      <ul>
        <a href="https://creditservices.zales.com/">Learn More</a>
        <a href="https://creditservices.zales.com/">Apply Now</a>
        <a href="https://d.comenity.net/zales/ ">Pay Account</a>
        <a href="https://d.comenity.net/zales/">Manage Account</a>
      </ul>
    </div>

  </div>
</footer>