<hr>
<div class="row">
  <div class="col-md-4">

    <img src="./assets/images/order.gif">ORDER BY 7 PM ET ON 2/23
    <a class="nav-link " href="https://www.zales.com/valentines-day-delivery-schedule?icid=HMP:TSB1:GRID">For
      Valentine's Day Delivery on Select Style. Details ></a>
  </div>
  <div class="col-md-4">
    <img src="./assets/images/sale.gif">SAVE UP TO 30% OFF*
    <a class="nav-link " href="https://www.zales.com/valentines-day/valentines-day-in-stock-gifts/c/0111020385?icid=HMP:TSB2:30OFF">The
      Valentine's Day Sale</a>
  </div>
  <div class="col-md-4">
    <img src="./assets/images/sale50.gif">SAVE UP TO 30% OFF*
    <a class="nav-link " href="https://www.zales.com/valentines-day/valentines-day-specials/c/0111020460?icid=HMP:TSB3:VDS">Valentine's
      Day Specials.
    </a>
  </div>
</div><br>
<br>

<img src="./assets/images/welcome.jpg" alt="welcome"><br><br>

<img src="./assets/images/pageRing1.gif" alt="Disney"><br><br>

<h2>Discover Her Bridal Style</h2>

<div class="row">
  <div class="col-md-3">
    <img src="./assets/images/discover.jpg" alt="discover">
  </div>
  <div class="col-md-3">
    <img src="./assets/images/discover.jpg" alt="discover">
  </div>
  <div class="col-md-3">
    <img src="./assets/images/discover.jpg" alt="discover">
  </div>
  <div class="col-md-3">
    <img src="./assets/images/discover.jpg" alt="discover">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="./assets/images/endless.jpg" alt="discover">
  </div>
  <div class="col-md-6">
    <img src="./assets/images/weddingBand.jpg" alt="discover">
  </div>
</div>
<div>
  <img src="./assets/images/loveVera.jpg" alt="discover"><br><br>
</div>
<div>
  <img src="./assets/images/homeImg.jpg" alt="discover"><br>
  <hr>
</div>
<div>
  <img src="./assets/images/zales.gif" alt="discover">
</div>
<h2>Zales. The Diamond Store. Since 1924.</h2><br>
<br>
<hr>