<div class='container'>
  <div class="list-items">
    <div *ngFor="let item of childItemList" (click)='displayDetails(item)'>

      <img [src]='item.image' width="10%">

      <div id=info *ngIf="item.display">
        <p> {{item.category}}</p>
        <p>{{item.description}}</p>
        <p>${{item.price}}</p>

        <button (click)="addToCart(item)" class="btn btn-danger">Add To Cart</button>
        <button (click)="showDetails(item)" class="btn btn-primary">Details</button>
      </div>
    </div>
  </div>
</div>